<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
      <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
      <add key="Aya" value="https://pkgs.dev.azure.com/AyaTechTeam/Applications/_packaging/nuget_feed_poc/nuget/v3/index.json" />
  </packageSources>
    <!-- Define mappings by adding package patterns beneath the target source. -->
    <!-- Aya.* packages will be restored from ADO, everything else from nuget.org. -->
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Aya">
      <package pattern="Aya.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
